[submodule "web"]
	path = web
	url = git@github.com:kth-ii1302-vt22-group-3/web.git
[submodule "api"]
	path = api
	url = git@github.com:kth-ii1302-vt22-group-3/api.git
[submodule "iot"]
	path = iot
	url = git@github.com:kth-ii1302-vt22-group-3/iot.git
